.d-flex {
  display: flex !important;
} 

.d-inline-flex {
  display: inline-flex;
}

.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block;
}

.d-none {
  display: none !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-around {
  justify-content: space-around !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-start {
  justify-content: start !important;
}

.justify-content-end {
  justify-content: end !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-flex-end {
  align-items: flex-end !important;
}

.flex-dir-row {
  flex-direction: row;
}

.flex-dir-column {
  flex-direction: column;  
}

.grow-1 {
  flex-grow: 1;
}
